@charset "UTF-8";


.top{
	text-align: center;
	font-size: 20px;
	padding: 30px;
}

h1 {
	margin-left: 500px;
}
.second-head {
	margin-left: 500px;
}

.login-form {
	margin-left: 550px;
	clear: both;
}

.login {
	border-radius: 5px;
	margin-left: 100px;
	padding: 15px;
}

.error {
	color: red;
	margin-left: 400px;
	clear: both;
}

.header {
	margin-bottom: 10px;
}

h1 {
	font-size: 35px;
	float: left;
	padding-bottom: 20px;
	margin-left: 350px;
	margin-bottom: 10px;
}

.header .right {
	float: right;
	border-radius: 5px;
	padding: 10px;
	margin-right: 460px;
	position: relative;
	top: 30px;
	width: 100px;
}

.main {
	margin-top: 30px;
	clear: both;
	background-color: #FFCCCC;
	padding: 40px;
	border: 1px solid black;
	margin-left: 300px;
	margin-right: 300px;
}

.main .search-area {
	margin-left: auto;
	margin-right: auto;
}

.first-table {
	margin-left: auto;
	margin-right: auto;
}

.pulldown {
	width: 200px;
}

.goods {
	width: 200px;
}

.search-area {
	display: flex;
	align-items: center;
	padding: 1px;
}

.search-area .category {
	float: left;
	margin-right: 40px;
	margin-left: 5px;
	font-size: 20px;
}

.search-area .item {
	float: left;
	margin-right: 20px;
	font-size: 20px;
}

.search {
	float: left;
	border-radius: 5px;
	padding: 10px;
	margin-left: 15px;
	width: 100px;
}

h1 {
	font-size: 40px;
}

.completion {
	margin-left: 400px;
	font-size: 25px;
	clear: both;
}

.array {
	border-radius: 10px;
	padding: 20px;
	text-align: center;
}

.attention {
	color: red;
	font-size: 30px;
	margin-left: 300px;
}

table {
	border-collapse: collapse;
	width: 800px;
	margin-top: 20px;
	text-align: center;
}

table th, table td {
	border: solid 1px black;
}

th {
	background-color: #fff5e5;
}

.price {
	text-align: right;
}

.product-name {
	text-align: left;
}

.stock {
	width: 600px;
	clear: both;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.stock .left-side {
	background-color: #99CCFF;
	text-align: left;
	width: 100px;
}

.stock .explanation {
	text-align: left;
}

.choice .back {
	float: left;
	margin-left: 600px;
	margin-right: 10px;;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 5px;
	padding: 15px;
	width: 100px;

}

.choice .modify {
	float: left;
	margin-right: 25px;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 20px;
	border-radius: 5px;
	padding: 15px;
	width: 100px;
}

.choice .delete {
	float: left;
	margin-right: 40px;
	margin-top: 20px;
	margin-left: 5px;
	font-size: 20px;
	border-radius: 5px;
	padding: 15px;
	width: 100px
}

.confirmation {
	clear: both;
	margin-left: 450px;
}

.choice .register {
	float: left;
	margin-left: 50px;
	margin-right: 40px;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 5px;
	padding: 15px;
	width: 100px;

}

.new-table {
	clear: both;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.new-table .left-side {
	background-color: #99CCFF;
	text-align: left;
	width: 300px;
	font-size: 13px;
}

.new-table .right-side {
	text-align: left;
}

span {
	color: red;
	font-size: 10px;
	font-weight: bold;
}

.error-registration {
	color: red;
	clear: both;
	margin-left: 430px;
}

.new-table .pulldown {
	width: 200px;
	display: flex;
}

.new-table .goods {
	width: 400px;
	display: flex;
}

.new-table .price {
	width: 150px;
}

.new-table .checkbox {
	align-items: left;
	display: flex;
}

.array .back {
	border-radius: 5px;
	margin-left: 40px;
	padding: 15px;
}

.to-array {
	border-radius: 5px;
	padding: 20px;
	margin-top: 60px;
	margin-left: 550px;

}